._navbar {
    display: flex;
    flex-direction: row;
}

._nav {
    min-width: 16rem;
    height: 100vh !important;
    font-size: 1.2rem;
    background-color: rgb(32, 30, 30);
}

._navcontent {
    width: 100%;
    background-color: #f4f3ef;
}

._nav ul li {
    height: auto;
    font-size: 1rem;
    padding: 0.4rem;
}

._nav ul li a {
    color: rgb(231, 228, 228);
    padding: 0.6rem !important;
}

._nav ul li a:hover {
    color: white !important;
}

._nav button {
    color: rgb(231, 228, 228);
    padding: 0;
}

.btn:hover {
    color: black;
}

._nav ul li a .b-icon.bi {
    font-size: 2rem !important;
    position: relative;
    top: 0.2rem;
    margin: 0 0.5rem 0 0.5rem;
}

._nav ul li a .logo img {
    width: 1.7rem;
    height: 1.7rem;
}

._nav ul li a .logo {
    display: inline;
    background-color: white;
    padding: 0.4rem;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

._nav ul li:nth-child(1) a {
    border-bottom: 0.5px solid rgb(196, 194, 194);
    padding: 0 !important;
    height: 5rem;
    display: flex;
    align-items: center;
}

._nav ul li:nth-child(1) {
    height: auto;
    padding: 0.7rem;
}

.page_header {
    height: 5.7rem;
    border-bottom: 0.5px solid rgb(196, 194, 194);
}

.active a {
    color: #41b883 !important;
}

.page_header>div>div,
.footer>div>div {
    height: 5.7rem;
    padding: 0.7rem;
}

.footer {
    height: 5.7rem;
    border-top: 0.5px solid rgb(196, 194, 194);
}

.page_content {
    border: none;
    padding: 3rem 15px;
    min-height: calc(100% - 15.6rem);
}

.btn_res1 {
    display: block;
}

.btn_res {
    display: none;
}

@media only screen and (max-width: 991px) {
    ._nav {
        position: absolute;
        right: 0;
        display: none;
        overflow-y: scroll;
    }
    .side ._nav {
        display: block;
    }
    ._navcontent {
        width: 100%;
        height: 100vh;
    }
    .side ._navcontent {
        width: calc(100% - 16rem);
    }
    .btn_res1 {
        display: none;
    }
    .btn_res {
        display: block;
    }
}

.noti_res a {
    border-bottom: 0.5px solid rgb(196, 194, 194);
}

.noti_res a ul li a {
    padding: 0 !important;
    height: auto !important;
    color: black;
}

.noti_res a ul li a:hover {
    color: rgba(0, 0, 0, 0.774) !important;
}